 
    <div class="nav">
        <a href="javascript:scrollHome()">HOME</a>
        <a href="javascript:scrollAbout()">About</a>
        <a href="javascript:scrollFolio()">Portfolio</a>
        <a href="javascript:scrollContact()">Contact</a>
    </div> 

    <div class="menu">
        <div class="menucontent">
        <h2 class="d">Laphat-rada Wrisadri</h2>
        <h2 class="subheading">SoftWare Engineer</h2>
        <a href="javascript:scrollAbout()" data-menu>About</a>
        <a href="javascript:scrollFolio()">Portfolio</a>
        <a href="javascript:scrollContact();">Contact</a>
        </div>
    </div>
  
    <div class="about">
    <h1 class="heading" data-about>ABOUT</h1>
    <!-- <img src="../../../assets/icon/icon_fev.png" class="profile"> -->
    <p> Welcome! My name's Laphat-rada Wrisadri, and I'm based in bangkok, Thailand. I am a Software Engineer at Orcsoft
      Co., Ltd. I work as staff outsourcing at AIS. I primarily focus on writing clean, elegant, and efficient code. I am proficient in Angular. I also review existing code and can consult with you on how to improve it. Over the past one years, I have primarily worked for companies that specialize in enterprise web applications and phone applications development. I worked with the team of architects and back-end Developers to gather requirements and enhance the application functionality and add new features. I have a responsible for all client side UI Validation, custom validations and implementing Business logic based on user selection.</p>
</div>

<div class="folio">
<h1 class="heading" data-folio>PORTFOLIO</h1>
    <p></p>

    <div class="wrapper">
        <div class="box"><a href="https://ebusinessportal.ais.co.th" class="noInset"><img src="../../../assets/img/ais.png" class="shadow shadowfolio"></a><p class="subheading">AIS eBusiness Portal Service.</p></div>
        <div class="box"><a href="" class="noInset"><img src="../../../assets/img/ais.png" class="shadow shadowfolio"></a><p class="subheading">AIS Allowance System (Internal Website)</p></div>
        <div class="box"><img src="../../../assets/icon/icon_fev.png" class="shadow"><h4 class="subheading">Coming soon</h4></div>
            </div>

</div>


